<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="../../public/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>This site was created by Danylo. It uses data from mapbox.com and and weatherstack.com!</p>

        <img class="logo" src="./img/spidey.png">
        </div>

        {{>footer}}
    </body>
</html>